div.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: 6.5rem;
  border-bottom-left-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.375) 0px 1px 6px 2px;
  background-color: papayawhip;
  width: fit-content;
  
  &>div.wrapper {
    /* padding: 0.5rem; */
    &>ul {
      display: flex;
      flex-direction: column;
      /* gap: 0.75rem 0; */
      position: relative;
      
      &>span.close {
        position: absolute;
        top: 0.85rem;
        right: 0.25rem;
        color: darkslateblue;
      }
      
      &>li {
        
        &>a {
          display: flex;
          align-items: center;
          gap: 0 0.375rem;
          padding: 1rem 3rem 1rem 1rem;
          border-radius: 0.25rem;
          color: teal;
          
          &.active {
            background-color: orange;
            color: darkslateblue
          }
        }
      }
    }
  }
}